#map-container {
  min-height: 100vh;
  width: 100%;
}

.ymaps-2-1-79-ground-pane {
  filter: saturate(0.25);
}

.my-hint {
  position: relative;
  background-color: white;
  padding: 14px;
  width: 200px;
}

.hint-list {
  display: block;
  list-style: none;
  width: 100%;
}
